@media screen and (min-width: 601px) {
.superroom {
  height: 30vh;
  width: 20vw;
  margin-left: 3vw;
  margin-top: 5vh;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 3.2),
  0 4px 8px rgba(0, 0, 0, 2.15),
  0 6px 12px rgba(0, 0, 0, 0.1),
  4px 8px 16px rgba(0, 0, 0, 10.05);  
  
  }
}
  @media screen and (max-width: 600px) {
    .Lakeroom {
      width: 90vw;
      margin: 2vh auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32),
        0 4px 8px rgba(0, 0, 0, 0.215),
        0 6px 12px rgba(0, 0, 0, 0.1),
        4px 8px 16px rgba(0, 0, 0, 0.105);
  }
}
  .superh1 {
    margin-left: 5vw;
    margin-top: 5vh;
  }
  
  .superh1div {
    background-color: rgb(138, 161, 180);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .superdiv {
    background-color: rgb(180, 194, 206);
    height: auto;
    width: 96vw;
    margin-left: 2vw;
    border-radius: 15px;
  }
  
  .photoGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Lakeroom1 {
 

  
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-image {
    max-height: 80vh;
    max-width: 80vw;
  }
  
  .close {
    position: absolute;
    margin-top: 16vh;
    margin-right: 26vw;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 99999;
  }
  
  .close:hover {
    color: #ccc;
  }
  