@media screen and (max-width: 400px) {
 
    .bookingInfo {
        margin-top: 8vh;
        margin-left: 1vw;
        width: 98vw;
        display: flex;
        background-color: aqua;
        height: auto;
    }
    
    .bookingForm {
        display: flex;
        width: 97vw;
        margin-top: 3vh;
        margin-left: 1.5vw;
        background-color: rgb(214, 199, 248);
        height: auto;
        margin-bottom: 5vh;
    }
    
    .doc {
        margin-top: 37vh;
        font-size: 20px;
        margin-left: -96vw;
    }
    
    .gov {
        margin-top: 42vh;
        margin-left: -30.5vw;
    }
    
    .booking-condition {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 1vh;
        margin-left: -11vw;
    }
    
    #name {
        margin-top: 1vh;
        margin-left: 1vw;
        width: 45vw;
    }
    
    #email {
        width: 45vw;
        margin-left: 50vw;
        margin-top: -7.9vh;
    }
    
    #phone {
        width: 45vw;
        margin-left: 1vw;
    }
    
    #address {
        width: 45vw;
        margin-top: -8vh;
        margin-left: 50vw;
    }
    
    #date1 {
        width: 45vw;
        margin-left: 1vw;
    }
    
    #date2 {
        width: 45vw;
        margin-left: 50vw;
        margin-top: -7.5vh;
    }
    .col{
      margin-top: 0.1vh;
    }
    .col-12 {
      width: 40vw;
      margin-left: 50vw;
      margin-top: -1vh;
      cursor: pointer;
    }
    
    .col-13 {
        margin-left: 2vw;
        margin-top: -5vh;
        cursor: pointer;
    }
    
    
    .col-15 {
        width: 45vw;
        margin-left: 50vw;
        margin-top: -5vh;
        cursor: pointer;
    }
    
    .select {
        height: 5vh;
        width: 45vw;
        margin-top: 0.9vh;
        border-radius: 7px;
    }
    
    .Booked2 {
      width: 40vw;
        margin-left: 3svw;
        margin-top: 3vh;
        height: 6vh;
    }
    .Checked{
margin-top: -1vh;    }
    .room-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .room-box {
      width: calc(50% - 10px); /* Set the width to 50% of the container minus the margins */
      height: 200px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      margin: 5px; /* Decreased the margin to create space between boxes */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .room-box:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .room-number {
      font-weight: bold;
    }
    
    .assigned-room-type {
      color: #888;
      font-weight: bold; /* Added */
    }
    
    .occupancy-status {
      margin-top: 10px;
      font-style: italic;
    }
    
    .status-text {
      color: #555;
    }
    
    .available-text {
      color: rgb(1, 165, 1);
    }
    
    .highlight3 {
      color: #0056b3;
    }
    
    .btn {
      display: inline-block;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #0056b3;
    }
    .close-icon3 {
      height: 5vh;
      margin-top: 5vh;
      margin-left: 95vw;
      justify-content: end;
      cursor: pointer;
      color: #5f5252;
    }
    
    .close-icon3:hover {
      color: #000000;
      transform: scale(1.5);

    }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .bookingInfo {
      margin-top: 2vh;
      margin-left: 1vw;
      width: 98vw;
      display: flex;
      background-color: aqua;
      height: auto;
  }
  
  .bookingForm {
      display: flex;
      width: 97vw;
      margin-top: 3vh;
      margin-left: 1.5vw;
      background-color: rgb(214, 199, 248);
      height: 40vh;
      margin-bottom: 5vh;
  }
  
  .doc {
      margin-top: 26vh;
      font-size: 20px;
      margin-left: -96vw;
  }
  
  .gov {
      margin-top: 29vh;
      margin-left: -30.5vw;
  }
  
  .booking-condition {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-top: 1vh;
      margin-left: -11vw;
  }
  
  #name {
      margin-top: 1vh;
      margin-left: 1vw;
      width: 45vw;
  }
  
  #email {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5.9vh;
  }
  
  #phone {
      width: 45vw;
      margin-left: 1vw;
  }
  
  #address {
      width: 45vw;
      margin-top: -6vh;
      margin-left: 50vw;
  }
  
  #date1 {
      width: 45vw;
      margin-left: 1vw;
  }
  
  #date2 {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5.5vh;
  }
  .col{
    margin-top: 0.1vh;
  }
  .col-12 {
    margin-left: 50vw;
    margin-top: -1vh;
    cursor: pointer;
  }
  
  .col-13 {
      margin-left: 2vw;
      margin-top: -5vh;
      cursor: pointer;
  }
  
  
  .col-15 {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5vh;
      cursor: pointer;
  }
  
  .select {
      height: 5vh;
      width: 45vw;
      margin-top: 0.9vh;
      border-radius: 7px;
  }
  
  .Booked2 {
    width: 35vw;
      margin-left: 6vw;
      margin-top: 3vh;
      height: 5vh;
  }
  .Checked{
    /* margin-left: ; */
  }
  .room-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .room-box {
    width: calc(50% - 10px); /* Set the width to 50% of the container minus the margins */
    height: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 5px; /* Decreased the margin to create space between boxes */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .room-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .room-number {
    font-weight: bold;
  }
  
  .assigned-room-type {
    color: #888;
    font-weight: bold; /* Added */
  }
  
  .occupancy-status {
    margin-top: 10px;
    font-style: italic;
  }
  
  .status-text {
    color: #555;
  }
  
  .available-text {
    color: rgb(1, 165, 1);
  }
  
  .highlight3 {
    color: #0056b3;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .close-icon3 {
    height: 5vh;
    margin-top: 5vh;
    margin-left: 95vw;
    justify-content: end;
    cursor: pointer;
    color: #5f5252;
  }
  
  .close-icon3:hover {
    color: #000000;
    transform: scale(1.5);

  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .bookingInfo {
      margin-top: 2vh;
      margin-left: 1vw;
      width: 98vw;
      display: flex;
      background-color: aqua;
      height: auto;
  }
  
  .bookingForm {
      display: flex;
      width: 97vw;
      margin-top: 3vh;
      margin-left: 1.5vw;
      background-color: rgb(214, 199, 248);
      height: 40vh;
      margin-bottom: 5vh;
  }
  
  .doc {
      margin-top: 16vh;
      font-size: 20px;
      margin-left: -86vw;
  }
  
  .gov {
      margin-top: 18vh;
      margin-left: -25.5vw;
  }
  
  .booking-condition {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-top: 1vh;
      margin-left: -5vw;
  }
  
  #name {
      margin-top: 1vh;
      margin-left: 1vw;
      width: 45vw;
  }
  
  #email {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5.9vh;
  }
  
  #phone {
      width: 45vw;
      margin-left: 1vw;
  }
  
  #address {
      width: 45vw;
      margin-top: -6vh;
      margin-left: 50vw;
  }
  
  #date1 {
      width: 45vw;
      margin-left: 1vw;
  }
  
  #date2 {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5.5vh;
  }
  .col{
    margin-top: 0.1vh;
  }
  .col-12 {
    margin-left: 50vw;
    margin-top: -1vh;
    cursor: pointer;
  }
  
  .col-13 {
      margin-left: 2vw;
      margin-top: -5vh;
      cursor: pointer;
  }
  
  
  .col-15 {
      width: 45vw;
      margin-left: 50vw;
      margin-top: -5vh;
      cursor: pointer;
  }
  
  .select {
      height: 5vh;
      width: 45vw;
      margin-top: 0.9vh;
      border-radius: 7px;
  }
  
  .Booked2 {
    width: 35vw;
      margin-left: 2vw;
      margin-top: 3vh;
      height: 5vh;
  }
  .Checked{
    height:7vw;
    margin-left:10vw;
width: 30vw;  }
  .room-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .room-box {
    width: calc(50% - 10px); /* Set the width to 50% of the container minus the margins */
    height: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 5px; /* Decreased the margin to create space between boxes */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .room-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .room-number {
    font-weight: bold;
  }
  
  .assigned-room-type {
    color: #888;
    font-weight: bold; /* Added */
  }
  
  .occupancy-status {
    margin-top: 10px;
    font-style: italic;
  }
  
  .status-text {
    color: #555;
  }
  
  .available-text {
    color: rgb(1, 165, 1);
  }
  
  .highlight3 {
    color: #0056b3;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .close-icon3 {
    height: 5vh;
    margin-top: 5vh;
    margin-left: 95vw;
    justify-content: end;
    cursor: pointer;
    color: #5f5252;
  }
  
  .close-icon3:hover {
    color: #000000;
    transform: scale(1.5);

  }
}

@media screen and (min-width: 1001px) {
  .bookingBoth{
    margin-top: 5vh;
    margin-bottom: 8vh;
  }
    .bookingInfo {
        margin-top: 2vh;
        margin-left: 2vw;
        width: 49vw;
        display: flex;
        background-color: aqua;
        height: 50vh;
      }
      
      .bookingForm {
        display: flex;
        width: 45vw;
        margin-top: -50vh;
        margin-left: 52.2vw;
        background-color: rgb(214, 199, 248);
        height: 50vh;
      }
      
      .doc {
        margin-top: 26vh;
        font-size: 20px;
        margin-left: -42vw;
        font-family: 'Times New Roman', Times, serif;
      }
      
      .gov {
        margin-top: 25vh;
        margin-left: -10vw;
      }
      
      .booking-condition {
        font-family: 'Times New Roman', Times, serif;
        margin-top: 2vh;
        margin-left: -2vw;
        font-weight: 500;
        
      }
      
      .row.mb-4 {
        margin-top: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .col {
        flex-basis: 48%;
      }
      
      #name,#email,#phone,#address,#date1,#date2,#adults,#children{
        width: 20vw;
        height: 3vw;
        margin-left: 1vw;
      }
      #rooms,#roomType{
        width: 20vw;
        height: 3vw;
        margin-left: 1vw;
        margin-top:1vh ;
      }
      
      .Booked2{
        display: flex;
        margin-top: 4vh;
        margin-left: 10vw;
        width: 10vw;
      }
      
      .Checked{
        width: 10vw;
        display: flex;
        margin-top: -9vh;
        margin-left: 26vw;
      }
        .select {
        height: 5vh;
        width: 19.5vw;
        border-radius: 7px;
      }

      .room-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .room-box {
        width: 200px;
        height: 200px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
      }
      
      .room-box:hover {
        transform: scale(1.05);
      }
      
      .room-number {
        font-weight: bold;
      }
      
      .assigned-room-type {
        color: #888;
        font-weight: bold; /* Added */
      }
      
      .occupancy-status {
        margin-top: 10px;
        font-style: italic;
      }
      
      .status-text {
        color: #555;
      }
      
      .available-text {
        color: rgb(1, 165, 1);
      }
      .highlight3{
        color: #0056b3;
      }
      .btn {
        display: inline-block;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .btn:hover {
        background-color: #0056b3;
      }
      .close-icon3 {
        height: 5vh;
        margin-top: 5vh;
        margin-left: 95vw;
        justify-content: end;
        cursor: pointer;
        color: #5f5252;
      }
      
      .close-icon3:hover {
        color: #000000;
        transform: scale(1.5);

      }
      .checked{
      margin-left: 28vw;   
      width: 13vw;
        height: 6vh;   
      }
    }

.gstText {
    margin-left: 5vw;
    margin-top: 2vh;
}
